/* Main body */

ul{ list-style:none; padding:0; margin: 0;}

nav li:nth-child(1){
    background: #eee;
    color: black;
    font-weight: bolder;
    font-size: 1em;
    border: .1em solid #EEDC7D;
}

nav li {
    margin: .1em 0;
}

nav a {
    width: 100%;
}

nav,aside{
    background-color: #3A87AD;
}

article{
    background-color: #5aad81;
    height: 20em;
}

input:read-only,
textarea:read-only{
    cursor: not-allowed;
    background: #c9c9c9;
    color: #ff0000
}

.principal {
    background-color: #fcf8e3;
    padding: .2em .5em;
    color: #ffffff;
    clear: both;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
}

.principal div{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}


.principal > article,aside{
    margin: .1em 0;
    padding: .4em .8em;
    color: #ffffff;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
}

.caixas {
    color: #393;
    background: #dfd;
    margin: 1%;
    width: auto;
    overflow: auto;
}

.caixas li {
    width: 32%;
    margin: 0.6666667%;
    float: left;
}

.caixas a {
    background: #e77878;
    color: rgb(84, 24, 5);
    width: 100%;
    padding: 40% 0;
    border-radius: 0.4em;
}

.ui-dialog-contain{
    max-width: 900px;
}

/* DEF DE BOTOES COLORIDOS */

.round {
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
}


.accesskey{
    font-weight: bolder;
    font-style: italic;
}

#progresso:after {
    display: none;
}

/* Tablet */
@media (min-width:37em) {
    .principal {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;

    }
    .principal > nav,aside {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        height: 20em;
    }

    .principal > nav{
        order: 1;
    }
    .principal > aside{
        order: 3;
    }

    .principal > article{
        margin: .1em .2em;
        background-color: #5aad81;
        -webkit-box-flex: 3;
        -moz-box-flex: 3;
        -webkit-flex: 3;
        order: 2;
    }

    nav li {
        padding: .1em;
    }
    nav a {
        width: 100%;
    }

    .caixas li {
        width: 24.5%;
        margin: 0.25%;
    }

}

@media (min-width: 41em) {  } /* 656px */
@media (min-width: 47em) {  } /* 752px */

/* Desktop */
/* 1088px */
@media (min-width: 68em) {
    .caixas li {
        width: 19.7%;
        margin: 0.1%;
    }
}
@media (min-width: 82em) {  } /* 1312px */
@media (min-width: 100em) {  } /* 1600px */
