<div class="principal ui-content" data-role="main">
    <article class="round">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>
            <table data-role="table" data-mode="columntoggle" class="table ui-responsive" id="mytable">
                <thead>
                    <tr>
                        <th data-priority="3">Prontuario</th>
                        <th>Nome</th>
                        <th data-priority="1">Email</th>
                        <th data-priority="2">CPF</th>
                    </tr>
                </thead>
            <tbody id="fbody">
            <tr>
                <td>1</td>
                <td>Jose</td>
                <td>jose@jose.com</td>
                <td>1121213321</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Maria</td>
                <td>maria@maria.com</td>
                <td>21312321321</td>
            </tr>
            </tbody>
        </table>
        </div>
    </article>
    <nav class="round">
        <ul role="toolbar" >
            <li>Menu</li>
            <li><a href="#pageone" accesskey="I" class="botao botao-primary botao-shadow" data-transition="turn">Page 1</a></li>
            <li><a href="#dialogo" accesskey="C" class="botao botao-primary botao-shadow" data-transition="flip">dialogo</a></li>
            <li><a href="#" accesskey="C" class="botao botao-primary botao-shadow">Artigo</a></li>
        </ul>
    </nav>
    <aside class="round">
        ASIDE
    </aside>
</div>