<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['Home']" href="#">
                <img src="favicon.png" alt="Logo"/>
            </a>

            <a type="button" class="navbar-text navbar-left btn btn-link btn-lg" (click)="toggle()" [hidden]="showSearch" ><strong>Trabalho Final</strong></a>
            <form class="navbar-form navbar-left form-search" role="search" [hidden]="!showSearch">
                <div class="form-group">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control input-lg" type="text" ([ngModel])="searchText" (keypress)="eventHandler($event)" placeholder="Pesquisar..." />
                </div>
                <button type="submit" class="botao botao-default botao-pequeno botao-shadow img-circle" (click)="toggle()" >
                    <i class="fa fa-close" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <a (click)="goback()" class="botao botao-success botao-grande botao-shadow img-circle back-btn">
            <i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i>
        </a>
    </div>
</nav>